.remove-button {
    background-color: #f5f5f5; /* Default background color */
    color: #000; /* Default text color */
    border: 1px solid #d9d9d9; /* Default border */
  
    &:hover {
     
      color: red; /* Change text color to white */
      border-color: red; /* Change border color to red */
    }
  }