.search-sorting-items{
    display: flex;
    justify-content: center;
    gap: 4px;
    margin: 20px;
}

.add-button{
    margin: 20px;
    background-color: #001529;
    border-radius: 4px;
    color: white;
  }