<nz-layout style="height: 100%;">
  <nz-header class="header" >
    <div class="logo" class="logo">
      E-Commerce Dashboard
    </div>
    <div class="nav-bar">
      <div
        nz-menu-item
        [routerLinkActive]="'active-menu-item'"
        [ngClass]="{ 'hovered': hoveredItem === 'products', 'nav-button': true }"
        (mouseenter)="hoveredItem = 'products'"
        (mouseleave)="hoveredItem = null"
      >
        <a routerLink="/products" style="color: white;">Products</a>
    </div>

      <div style="display: flex;"
        nz-menu-item
        [routerLinkActive]="'active-menu-item'"
        [ngClass]="{ 'hovered': hoveredItem === 'cart', 'nav-button': true }"
        (mouseenter)="hoveredItem = 'cart'"
        (mouseleave)="hoveredItem = null"
      >
        <nz-badge [nzCount]="cartItemCount" [nzOverflowCount]="99">
          <a routerLink="/cart" style="display: flex; align-items: center;">
            <i nz-icon nzType="shopping-cart" style="font-size: 24px; color: white;"></i>
            <span style="margin-left: 8px; font-size: 14px; color: white;">
              ${{ totalPrice.toFixed(2) }}
            </span>
          </a>
        </nz-badge>
      </div>
    </div>
  </nz-header>

  <div class="content" style="padding: 20px;">
    <router-outlet></router-outlet>
  </div>
</nz-layout>
