<!-- app.component.html -->
<nz-layout style="height: 100%;">
  <nz-header>
    <div class="logo" style="float: left; color: white; font-size: 20px;">
      E-Commerce Dashboard
    </div>
   
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="nav-bar" >
      <li
        nz-menu-item
        [routerLinkActive]="'active-menu-item'"
        [ngClass]="{ 'hovered': hoveredItem === 'products', 'nav-button': true }"
        (mouseenter)="hoveredItem = 'products'"
        (mouseleave)="hoveredItem = null"
      >
        <a routerLink="/products">Products</a>
      </li>
      
      <li
        nz-menu-item
        [routerLinkActive]="'active-menu-item'"
        [ngClass]="{ 'hovered': hoveredItem === 'cart' , 'nav-button': true}"
        (mouseenter)="hoveredItem = 'cart'"
        (mouseleave)="hoveredItem = null"
      >
        <nz-badge [nzCount]="cartItemCount" [nzOverflowCount]="99">
          <a routerLink="/cart">
            <i nz-icon nzType="shopping-cart" style="font-size: 24px; color: white;"></i>
          </a>
        </nz-badge>
      </li>
    </ul>
    
  </nz-header>

  <!-- Main Content Section -->
  <div class="content" style="padding: 20px;">
   
    <router-outlet></router-outlet> 
 </div>
</nz-layout> 
