<!-- app.component.html -->
<nz-layout style="height: 100%;">
  <nz-header>
    <div class="logo" style="float: left; color: white; font-size: 20px;">
      E-Commerce Dashboard
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" style="float: right; line-height: 64px; display: flex; gap: 20px;list-style-type: none;">
      <li nz-menu-item><a routerLink="/products">Products</a></li>
      <li nz-menu-item>
        <nz-badge [nzCount]="cartItemCount" [nzOverflowCount]="99">
          <a routerLink="/cart">
            <i nz-icon nzType="shopping-cart" style="font-size: 24px; color: white;"></i>
          </a>
        </nz-badge>
      </li>
    </ul>
  </nz-header>

  <!-- Main Content Section -->
  <div class="content" style="padding: 20px;">
   
    <router-outlet></router-outlet> 
 </div>
</nz-layout> 
